page-map {

    #map { 
         position:absolute;
         top:5px; 
         bottom:5px; 
         left:5px;
         right:5px;
         width:100%; 
         }
    .mapboxgl-control-container {
         z-index: 5;
    } 

    #control {
        position:absolute;
        left:30px;
    }
}