export class Secret {
    
    mapboxAccessToken: string;
    
    constructor () {
        this.mapboxAccessToken = <YOUR MAPBOX ACCESS TOKEN>;
    }
    getSecret () {
        return this.mapboxAccessToken;
    }
}
