page-welcome {
    .scroll-content {
        text-align: center;
        background-color: #585858;
        background-image: url(../assets/img/logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center; 
    }

}